node_modules
**/node_modules
**/dist
**/.next
**/.turbo
**/coverage
**/.cache
**/*.tsbuildinfo
.git
.github
.husky
.vscode
.env
.env.*
!.env.example
docs
README.md
docker-compose-local.yml
apps/contracts/out
apps/contracts/cache
apps/contracts/broadcast
apps/indexer/.ponder
