dist
node_modules
.turbo
.next

.env
.env.local
.env.demo
.env.production

.idea
.vscode/*
!.vscode/settings.json
!.vscode/extensions.json
.zed
.DS_Store

packages/infrastructure/generated/
tsconfig.tsbuildinfo
coverage/

.cursor
